footer.flex {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  margin-bottom: 1.9rem;
  color: var(--subtitle);
}

footer.flex ul, footer.flex .all-icons {
  display: flex;
  gap: 1.3rem;
  list-style: none;
  padding: 0;
  color: var(--subtitle);
}

footer.flex ul a, footer.flex a, footer.flex p {
  color: var(--subtitle);
  font-size: 1.1rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s, font-size 0.3s, font-weight 0.3s;
}

footer.flex ul a:hover, footer.flex a:hover {
  color: var(--blue);
  font-size: 1rem;
  font-weight: 500;
}

footer.flex .all-icons .icon {
  font-size: 1.3rem;
  transition: font-size 0.3s, color 0.3s;
  cursor: pointer;
  color: var(--subtitle);
}

footer.flex .all-icons .icon:hover {
  font-size: 1.4rem;
  color: var(--icon-hover);
}

footer.flex p {
  color: rgb(113, 113, 122);
}

@media (max-width: 1150px) {
  footer.flex {
    flex-direction: column;
    gap: 2rem;
  }

  footer.flex ul {
    gap: 1rem;
  }

  footer.flex .all-icons {
    gap: 1rem;
  }
}
