section.hero{
    margin-top: 3rem;
}

/*Left section*/

section.hero .parent-avatar.flex{
    align-items: end;
    gap: 0.6rem;
}
section.hero .left-section{
    flex-grow: 1;
}

section.hero .icon-verified{
    color: var(--blue);
    font-size: 2rem;
    margin-bottom: 0.5REM;
    margin-left: -1.5rem;
}

section.hero .avatar{
    width: 200px;
    border-radius: 50%;
    border: 1px solid darkorange ;
    padding: 1px;
}

section.hero h1.title{
    font-size: 2.75rem;
    line-height: 3.3rem;
    margin: 24px 0;
    color: var(--title);
}

section.hero h1.name{
    font-size: 2.1rem;
    line-height: 3.3rem;
    margin-bottom: -30px;
    color: var(--title);
}

section.hero p.subtitle{
    color: var(--subtitle);
    font-size: 1,5rem;
    line-height: 1.65rem;
    margin-bottom: 32px;
}

section.hero .all-icons{
    font-size: 1.3rem;
    gap:1.5rem;
    color: var(--subtitle);
   
}

section.hero .all-icons .icon:hover{
    font-size: 1.4rem;
    transition: 0.3s;
    cursor: pointer;
    color: var(--icon-hover);
}

/*Right section Animation*/
.animation{
    width: 50%;
    translate: 100px 20px;
}


@media (max-width: 1250px){
    section.hero .dev-animation{display: none;}
}