section.hero{
    margin-top: 3rem;
    margin-bottom: -40px;
}

/*Left section*/
section.hero .parent-avatar.flex{
    margin-top: -20px;
    align-items: end;
    gap: 0.6rem;
    min-height: 200px;
}
section.hero .left-section{
    flex-grow: 1;
}

section.hero .icon-verified{
    color: var(--blue);
    font-size: 2rem;
    margin-bottom: 0.5REM;
    margin-left: -1.5rem;
}

section.hero .avatar{
    width: 200px;
    border-radius: 50%;
    border: 1px solid darkorange ;
    padding: 1px;
}

section.hero h1.title{
    font-size: 2.5rem;
    line-height: 3.3rem;
    margin: 24px 0;
    color: var(--title);
}

section.hero h1.name{
    font-size: 2.1rem;
    line-height: 3.3rem;
    margin-bottom: -30px;
    color: var(--title);
}

section.hero p.subtitle{
    color: var(--subtitle);
    font-size: 1,5rem;
    line-height: 1.65rem;
    margin-bottom: 32px;
}

section.hero .all-icons {
    display: flex;
    justify-content: flex-start;
    gap: 2rem; 
}
section.hero .all-icons .icon{    
    font-size: 1.5rem;
    gap:1.5rem;
    color: var(--subtitle);    
    cursor: pointer;
}

section.hero .all-icons .icon:hover{
    font-size: 1.7rem;
    transition: 0.3s;
    cursor: pointer;
    color: var(--icon-hover);
    
}

/*Right section Animation*/
.animation{
    width: 50%;
    translate: 100px 20px;
}


@media (max-width: 1250px){
    section.hero .dev-animation{display: none;}
    }

@media (max-width: 1090px) {
    section.hero h1.title {
      font-size: 1.7rem;
    }
  
    section.hero h1.name {
      font-size: 2rem;
    }
  }

  @media (max-width: 415px) {
    section.hero h1.title {
      font-size: 1rem;
    }
  
    section.hero h1.name {
      font-size: 1.7rem;
    }

    section.hero .all-icons {
        margin-left: 80%;
    }
  }